<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{get-ticket}">

		<div>
			enter ticket number : <input type="text" name="ticketno"/>
		</div>

		<input type="submit" value="get ticket">

	</form>
	
<p>name : <span th:text="${ticket.name}"></span></p>
<p>from : 	<span th:text="${ticket.from}"></span></p>
<p>to : <span th:text="${ticket.to}"></span></p>
<p>dojj : <span th:text="${ticket.doj}"></span></p>
<p>train no : <span th:text="${ticket.trainNo}"></span></p>
<p>price :	<span th:text="${ticket.price}"></span></p>
	
	
	<div class="container" style="background-color:#f1f1f1">
    <span>book a ticket <a href="/">book ticket</a></span>
  </div>
</body>
</html>

















